@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Mono&display=swap');

/* font-family: 'Space Mono', monospace; */

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header {
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;
}