@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Mono&display=swap');

/* font-family: 'Space Mono', monospace; */

.header {
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    display: flex;
}