@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Mono&display=swap');

/* font-family: 'Space Mono', monospace; */

.heroContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.searchButton {
    margin: 15px;
}

.header {
    font-size: 56px;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 16px;
}